.button {
    font-size: 1rem;
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
    border: none;
}

.primary {
    background-color: var(--grey1);
    color: var(--white);
}

.primary:hover {
    background-color: var(--grey3);

}

.primary.disabled {
    color: var(--grey9);
    background-color: var(--grey6);
    cursor: default;
}

.secondary {
    background-color: var(--white);
    color: var(--grey1);
}

.secondary:hover {
    background-color: var(--grey9);
}

.secondary.disabled {
    color: var(--grey6);
    background-color: var(--grey9);
    cursor: default;
}

.fullwidth {
    width: 100%;
}