.inputWrapper {
    display: flex;
    flex-direction: column;
}

.inputWrapper label {
    color: #4c4c4c;
    font-size: 13.3px;
    padding-bottom: 4px;
}

.inputWrapper .input {
    outline: none;
    font-size: 16px;
    color: #666;   
    padding: 8px 10px;
    border: 1px solid #999;
    border-radius: 4px;
}

.inputWrapper .input::placeholder {
    color: #b2b2b2;
}

.inputWrapper .input:focus {
    border-color: #666;
}

.inputWrapper .input.error {
    border: 1px solid #ff4500 ;
}


.errorMessage {
    color: #ff4500 ;
    
}
