:root {
  --black: #000;
  --white: #fff;
  --grey1: #191919;
  --grey2: #191919;
  --grey3: #191919;
  --grey4: #191919;
  --grey5: #191919;
  --grey6: #191919;
  --grey7: #191919;
  --grey8: #191919;
  --grey9: #191919;

  --font-xs: 11.1px;
  --font-s: 13.3px;
  --font-m: 16px;
  --font-l: 19.2px;
  --font-xl: 23px;
  --font-h2: 27.65px;
  --font-h1: 33.1px;

  --font-light: 200;
  --font-regular: 300;
  --font-medium: 400;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-size: 16px;
}

main {
  padding: 0 1rem;
}
