:root {
  --black: #000;
  --white: #fff;
  --grey1: #191919;
  --grey2: #333333;
  --grey3: #4C4C4C;
  --grey4: #666666;
  --grey5: #7F7F7F;
  --grey6: #999999;
  --grey7: #B2B2B2;
  --grey8: #CCCCCC;
  --grey9: #E5E5E5;

  --font-xs: 11.1px;
  --font-s: 13.3px;
  --font-m: 16px;
  --font-l: 19.2px;
  --font-xl: 23px;
  --font-h2: 27.65px;
  --font-h1: 33.1px;

  --font-light: 200;
  --font-regular: 300;
  --font-medium: 400;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-size: 16px;
}

main {
  padding: 0 1rem;
}
