.light { font-weight: var(--font-light); }
.regular { font-weight: var(--font-regular); }
.medium { font-weight: var(--font-medium); }

.xs { font-size: var(--font-xs); }
.s { font-size: var(--font-s); }
.m { font-size: var(--font-m); }
.l { font-size: var(--font-l); }
.xl { font-size: var(--font-xl); }
.h2 { font-size: var(--font-h2); }
.h1 { font-size: var(--font-h1); }
